body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h2{
    font-size: 50px;
}
.heading-color{
color:#FFAC59
}

.header-left-border{
    border-left: 4px solid orangered;
    
}

section{
    display:flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding: 20px;
}
p{
    text-align: justify;
}
.half-width img{
    width: 60%;
    margin-left: 10px;
}

.explor-button{
    text-decoration: none;
    background-color: blue;
    padding: 12px 50px;
    border-image-repeat: 8px;
    color: white;
    font-weight: 500;
}

.branding-develop{
    background-image: url(shapes/shape-1.png) ;
    background-repeat: no-repeat;
    background-position: left;
}
.middle{
    text-align: center;
}
.mission22-flex{
    display: flex;


}
.mission22{
    padding: 35px;
    
}


div .box-bg {
    background-color: burlywood;
    margin: 50px;
}
div .box-bg2 {
    background-color: cadetblue;
    margin: 50px;
}

div .box-bg3 {
    background-color: hotpink;
    margin: 50px;
}

.mission22-flex p{
    padding-left: 50px;
    padding-right: 50px;
}

.mission22-flex h3{
    padding-left: 50px;
    }
    .mission22-flex img{
        width: 60px;
        padding-left: 50px;
        padding-top: 20px;
    }

.footer-bg{
    font-style: italic;
    background: black;
    color: white;
    padding: 10px;
    
}